:root {
    --background-color:#2F303A ;  
    --main-color:rgb(255, 255, 255);
    --text-color:#757575;
    --focus-color:#2196F3;
    --adresss-color:rgba(255, 255, 255, 0.6);
}
body{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
letter-spacing: 0.03em;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
.flex{
    display: flex;
  }