footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 26px;
  color: white;
  display: inline-block;
  margin-bottom: 20px;
}
.logo-footer-span {
  color: var(--focus-color);
}
address {
  font-style: normal;
  width: 230px;
}
.address > a {
  color: var(--adresss-color);
}
.address-item {
  font-weight: 400;
  color: var(--main-color);
  margin-bottom: 9px;
}
.address-list-item:hover {
  color: var(--focus-color);
  cursor: pointer;
}
.address-list-item:hover {
  color: var(--focus-color);
  cursor: pointer;
}
.address-email,
.address-tel {
  display: block;
}
.address-email {
  margin-bottom: 9px;
}
.address-item:hover {
  color: white;
}
.address-email:hover {
  color: white;
}
.join_div {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 93px;
}
.join_p {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.subscribe_p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.subscribe_input {
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
}
.subscribe_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2195f3ae;
  margin-left: 12px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe_button:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe_svg {
  fill: rgba(238, 238, 238, 0.823);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe_button:hover .subscribe_svg {
  fill: white;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
