.hero {
    background-color: var(--background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    height: 600px;
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.534),
            rgba(229, 229, 229, 0.281)),
        url("../images/main/hero_background.jpg");
    background-size: 1474px 600px;
    background-repeat: no-repeat;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-bottom: 30px;
}

.hero-button {
    font-weight: 700;
    color: rgba(210, 210, 210, 0.864);
    background-color: #2195f3c6;
    padding: 10px 32px;
    min-width: 216px;
    border: 0;
    border-radius: 4px;
}

.hero-button:hover {
    color: white;
    background-color: #2196F3;
}
.menu{
    position: relative;
    width: 260px;
    height: 360px;
}
.menu-link{
    z-index: 1;
    width: 4px;
    height: 360px;
    display: block;
    padding: 10px 20px;
    background-color: rgb(98, 100, 99);
    border: 1px solid black;
    cursor: pointer;
}
.submenu{
    position: absolute;
    z-index: 1;
    left: 100%;
    top: 0;
    width: 100%;
    display: none;
    background-color: rgb(59, 60, 59);
}
.menu-link:hover + .submenu{
    display: block;
}
.submenu_item_link{
color: white;
}