
:root {
    --background-color:#2F303A ;  
    --main-color:rgb(255, 255, 255);
    --text-color:#757575;
    --focus-color:#2196F3;
}
body{
  font-family: "Roboto", sans-serif;
}
.hero{
    background-color:#2F303A;
}
footer{
    background-color:#2F303A;
}
.h1{
    color: rgb(255, 255, 255);
}
p{
    color: #757575;
}
.logo{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}
.h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }
  h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color:#2196F3;
  }
  .navigation-list{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .address-list{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .portfolio-button_list-item-button{
    color: rgb(255, 255, 255);
    background-color:#2196F3;
  }