
:root {
    --background-color:#2F303A ;  
    --main-color:rgb(255, 255, 255);
    --text-color:#757575;
    --focus-color:#2196F3;
}
body{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
letter-spacing: 0.03em;
}
.hero{
    background-color:var(--background-color);
}
footer{
    background-color:var(--background-color);
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 136%;
letter-spacing: 0.06em;
  color:var(--main-color);
}
p{
    color:var(--text-color);
    font-weight: 400;
}
.logo-header{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 26px;
  color: black;
}
.logo-header-span{
  color:var(--focus-color);
}
  .logo-footer{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 26px;
  color: white;
}
  h3{
    font-weight: 700;
  }
  .hero-button{
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color:#2196F3;
  }
  .navigation-list{
    font-weight: 500;
  }
  .address-list{
    font-weight: 500;
  }
  h2 {
    font-weight: 700;
  }
  .portfolio-button_list-item-button{
    background-color:#2196F3;
  }