.img_title{
    text-align: center;
    margin-bottom: 50px;
  }
  .img_title-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .img_title-list-item{
    position: relative;
  }
  .position_element{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  }
