.features {
    padding-top: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.employees-list {
    gap: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  &-item {
    @media screen and (min-width: 768px) {
        width: 354px;
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}
    &-item::before {
        display: block;
        content: "";
        height: 120px;
        background-color: #F5F4FA;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
        border-radius: 4px;
    }
    
    &-item.antena::before {
        background-image: url("../images/main/antenna.svg");
    }
    
    &-item.clock::before {
        background-image: url("../images/main/clock.svg");
    }
    
    &-item.diagram::before {
        background-image: url("../images/main/diagram.svg");
    }
    
    &-item.astronaut::before {
        background-image: url("../images/main/astronaut.svg");
    }
    
    &-title {
        margin-bottom: 10px;
        text-align: center;
    }
    &-paragraf {
        margin-bottom: 30px;
    }
}