.header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 2;
    width: 100%;
    display: flex;
    gap: 12px;
    border: 1px solid red;
    background-color: $mainColor;
  }
  
  .logo-header {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 26px;
    color: black;
    margin-right: 93px;
  }
  
  .logo-header-span {
    color: var(--focus-color);
  }
  
  .navigation-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
    align-items: center;
    font-weight: 500;
  }
  .navigation-list-item{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  }
  .navigation-list-item:hover {
    color: var(--focus-color);
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  }
  
  .address-list {
    display: flex;
    margin-left: auto;
    gap: 50px;
    align-items: center;
    font-weight: 500px;
  }
  
  .address-list-item{
    color: $textColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  }
  .address-list-item:hover{
    color: $focusColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  }
  .address-list-item-svg {
    fill: $textColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  }
  
  .address-list-item:hover .address-list-item-svg {
    fill: $focusColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
  }
  .navigation-link.curent{
  position: relative;
  }
  .navigation-link.curent::after {
      position: absolute;
      top: 28px;
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: $backgroundColor;
  }