
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 2;
    width: 100%;
    
    gap: 12px;
    border: 1px solid red;
    background-color: $mainColor;
  &-logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    color: black;
    transition-duration: 1000ms;
    transition-timing-function: ease;
    @media screen and (min-width: 1200px) {
          font-size: 26px;
    }
  }
  &-span {
    color: $focusColor;
  }
  &-logo:hover{
    transition-property: transform;
    transition-delay: 500ms;
    transform: scale(1.5);
    transition-duration: 1000ms;
    transition-timing-function: ease;
  }
  }
  .navigation-list {
    
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
    align-items: center;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      display: none;
}
@media screen and (min-width: 768px) {
  display: flex;
  margin-left: 86px;
}
@media screen and (min-width: 1200px) {
  margin-left: 92px;
}
    &-item{
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    }
    &-item:hover {
      cursor: pointer;
    }
    &-link{
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    }
    &-link.curent{
      position: relative;
      }
      &-link.curent::after {
          position: absolute;
          top: calc(100% + 28px);
        content: "";
        display: block;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: $mainColor;
      }
      &-link:hover{
        @include transition($focusColor)
      }
  }
  .address-list {
    margin-left: auto;
    align-items: center;
    font-weight: 500px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
    }
  @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 30px;
  }
    &-item{
      @include transition($textColor)
    }
    &-item:hover{
      @include transition($focusColor)
    }
    &-svg {
      fill: $textColor;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
      @media screen and (min-width: 1200px) {
            
            gap: 50px;
      }
    }
    
    &-item:hover &-svg {
      fill: $focusColor;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
    }
  }
  