.hero {
    background-color: $backgroundColor;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    // height: 600px;
    // width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.534),
            rgba(229, 229, 229, 0.281)),
        url("../images/main/mobile_fon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url("../images/main/mobile_fon_2x.jpg");
  }
    @media screen and (min-width: 768px) {
      background-size: 768px 400px;
      width: 768px;
      height: 400px;
      background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.534),
            rgba(229, 229, 229, 0.281)),
        url("../images/main/tablet_fon.jpg");
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url("../images/main/tablet_fon_2x.jpg");
      }
    }
        @media screen and (min-width: 1200px) {
          padding-top: 200px;
    padding-bottom: 200px;
          background-size: 1600px 600px;
          width: 1600px;
      height: 600px;
      background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.534),
            rgba(229, 229, 229, 0.281)),
        url("../images/main/hero_background.jpg");
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: url("../images/main/hero_background_2x.jpg");
      }
    }
    &-title {
      font-weight: 900;
      font-size: 26px;
      line-height: 162%;
      letter-spacing: 0.06em;
      color: $mainColor;
      margin-bottom: 30px;
      @media screen and (min-width: 1200px) {
        line-height: 136%;
        font-size: 44px;
  }
  }
}