
.section_with_svg_list-title{
  font-weight: 700;
  font-size: 28px;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;
@media screen and (min-width: 1200px) {
  font-size: 36px;
}
}
.section_with_svg_list-list{
    display: flex;
    row-gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
    &-item{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 94px;
      width: 170px;
      height: 92px;
      border: 1px solid #AFB1B8;
      @extend %transition;
      transition-property: border;
    }
    &-svg{
      fill: #AFB1B8;
      transition-property: fill;
      @extend %transition;
    animation-name: blik;
    animation-duration: 2500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    &-item:hover{
      border: 1px solid $focusColor;
      transition-property: border;
      @extend %transition;
    }
    &-item:hover &-svg{
      fill: $focusColor;
      transition-property: fill;
      @extend %transition;
    animation: none;
    }
  }
  @keyframes blik {
    0%{
      fill: #c2c2c4c0;
    }
    50%{
      fill: #626263;
    }
    100%{
      fill: #c2c2c4c0;
    }
  }