body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  letter-spacing: 0.03em;
  }
  .container{
      width: 320px;
      padding: 0 15px;
      margin: 0 auto;
      outline: 1px dashed black;
      @media screen and (min-width: 480px) {
            width: 480px;
            outline: 1px dashed red;
      }
      @media screen and (min-width: 768px) {
          width: 768px;
          outline: 1px dashed blue;
        }
      @media screen and (min-width: 1200px) {
          width: 1200px;
          outline: 1px dashed yellow;
      }
    }
  .flex{
      display: flex;
    }
    p{
      color: $textColor;
      font-weight: 400;
  }
  h3{
    font-weight: 700;
  }
    h2 {
      font-weight: 700;
    }
    .section{
      padding-top: 94px;
      padding-bottom: 94px;
    }